@font-face {
  font-weight: 100;
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Thin.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-weight: 600;
  font-family: Gilroy;
  src: url("../fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.ttf");
}