@import "./reset.scss";
@import "./variables.scss";
@import "./fonts.scss";

* {
  font-family: Gilroy, sans-serif;
  scrollbar-color: var(--accent-color) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
  color: var(--text-color);
  line-height: 135%;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 2px;
}

#root {
  height: 100dvh;
  overflow: auto;
}

.hiddenInput {
  clip: rect(0 0 0 0);
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden;
  padding: 0 !important;
  white-space: nowrap;
  width: 1px !important;
  position: absolute;
}

.hidden {
  display: none !important;
}