:root {
  --accent-color: #F4B020;
  --main-color: #1F1F1F;
  --additional-color: #BDBDBD;
  --text-color: #0A0A0A;
  --white-color: #FFF;
  --disabled-color: #CCC;
  --error-color: #FF3232;
  --main-button-hover-color: #1F3240;
  --main-button-active-color: #293C4A;
  --grey-text-color: #B6B6B6;
}