:root {
  --accent-color: #F4B020;
  --accent-hover-color: #ECAE2A;
  --accent-active-color: #DCA126;

  --outline-button-hover: #CED2D5;
  --outline-button-active: #D6DADD;

  --main-color: #1F1F1F;
  --additional-color: #BDBDBD;
  --text-color: #0A0A0A;
  --white-color: #FFF;
  --disabled-color: #CCC;
  --error-color: #FF3232;
  --grey-text-color: #B6B6B6;
  --special-grey-color1: #F9F9F9;
  --special-grey-color2: #F4F4F4;
  --special-yellow: #FDF4E2;
  --special-green: #11A929;
  --special-green-light: #E2F5E5;
  --primary-yellow: #F2B430;

  /*SHADOW*/
  --shadow-bottom: 0px 4px 25px 0px #00000026;
}