:root {
  --accent-color: #F4B020;
  --main-color: #1F1F1F;
  --additional-color: #BDBDBD;
  --text-color: #0A0A0A;
  --white-color: #FFF;
  --disabled-color: #CCC;
  --error-color: #FF3232;
  --main-button-hover-color: #1F3240;
  --main-button-active-color: #293C4A;
  --grey-text-color: #B6B6B6;
  --special-grey-color1: #F9F9F9;
  --special-grey-color2: #F9F9F9;
  --special-yellow: #FDF4E2;
  --special-green: #11A929;
  --special-green-light: #E2F5E5;
  --main-shadow: 0px 4px 25px 0px #00000026;
  --primary-yellow: #F2B430;
}