.accordion {}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  cursor: pointer;
}

.contentWrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.1s, padding 0s 0.1s;

  &.open {
    grid-template-rows: 1fr;
    padding-bottom: 16px;
    transition-delay: 0s;

    @media (max-width: 767px) {
      padding: 10px;
    }
  }
}

.content {
  display: grid;
  gap: 6px;
  min-height: 0;
}