.applicationPage {
  border-radius: 12px;
  background: var(--white-color);
  width: 100%;
  height: 100%;
  display: grid;
  gap: 32px;
}

.content{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 24px 16px;
}

.heading{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 24px 16px 0;
}
.headingButton{
  margin-left: auto;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cardContainer{
  display: grid;
  gap: 24px;
}

.infoGrid{
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.clientInfo{
  display: grid;
  gap: 12px;
  flex: 1 0 auto;
}

.loadInfo{
  display: flex;
  gap: 16px;
}

.loadInfo__item{
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--special-grey-color1);
}

.loadLimit{
  color: var(--grey-text-color);
}

.trail{
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.trailInfo{
  display: flex;
  gap: 12px;
  align-items: flex-end;
}

.trailInfo__item{
  display: flex;
  gap: 6px;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--special-grey-color1);
}

.cargoInfo{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.cargoInfo__item{
  gap: 12px;
  font-size: 18px;
  font-weight: 600;
  padding: 22px 16px;
  background-color: var(--white-color);
  box-shadow: var(--shadow-bottom);
}

.detailsGrid{
  grid-template-columns: repeat(3, 1fr);
}

.infoItem{
  display: grid;
  gap: 4px;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--special-grey-color1);
}

.note{
  display: grid;
  gap: 8px;
}

.loadBlock{
  height: 100%;
}