@import "@src/app/styles/mediaQueries";


.ordersExport {
  position: absolute;
  /*TO FIX*/
  top: 75px;
  right: 15px;
  width: 158px;
  overflow: hidden;
  z-index: 5;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;

  @media (max-width: $tablet) {
    right: 10px;
  }

  @media (max-width: $mobile) {
    left: 100px;
  }

  @media (max-width: $mobileSmall) {
    left: 9px;
    width: calc(100% - 9px * 2);
  }
}

.button {
  text-align: start;
  padding: 12px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: var(--special-yellow);
  }
}