@import "@src/app/styles/mediaQueries";
@import "@src/app/styles/mixins";

.userPhoto {
  display: block;
  position: relative;
  @include adaptiveValue("width", 156, 76, 1440, 375);
  @include adaptiveValue("height", 156, 76, 1440, 375);
  border-radius: 50%;
  color: var(--grey-text-color);
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.withBackground {
  background-color: var(--special-grey-color2);
}

.editable {
  cursor: pointer;
  &:before{
    content: '';
    transition: background-color 0.2s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
  }

  &:hover {
    color: var(--white-color);
    &:before{
      background-color: rgba(91, 91, 91, 0.6);
    }
    .camera{
      z-index: 4;
    }
  }
}

.camera {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}