.button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  line-height: 135%;
}

.loading {
  position: relative;
}

.spinner{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(calc(100% + 10px), -50%);
}

.accent, .accent_with_black_text{
  background-color: var(--accent-color);
  display: grid;
  place-content: center;
  font-weight: 600;
  border-radius: 10px;

  &:hover,
  &:focus {
    background-color: var(--accent-hover-color);
  }

  &:active {
    background-color: var(--accent-active-color);
  }

  &:disabled {
    background-color: var(--disabled-color);
  }
}

.accent {
  color: var(--white-color);
}

.outline, .outline_accent {
  /*TO FIX*/
  border: 1px solid #122533;
  background-color: var(--white-color);
  display: grid;
  place-content: center;
  font-weight: 600;
  border-radius: 10px;

  &:hover,
  &:focus {
    background-color: var(--outline-button-hover);
  }

  &:active {
    background-color: var(--outline-button-active);
    border-color: var(--outline-button-active);
  }

  &:disabled {
    opacity: 0.7;
  }
}

.outline_accent {
  border-color: var(--accent-color);
}

.grey {
  background-color: var(--disabled-color);
  color: var(--white-color);
  border-radius: 10px;
}

.size_m {
  padding: 14px 28px;
  font-size: 16px;

  @media (max-width: 768px) {
    padding: 16px 28px;
  }
}

.size_s {
  font-size: 12px;
  padding: 10px 18px;
}

.size_sm{
  font-size: 14px;
  padding: 12px;
}

.fullWidth {
  width: 100%;
}