.sidebar {
  border-radius: 12px;
  padding: 24px 12px;
  background: #fff;
  height: 100%;
  box-shadow: 3px 4px 37.599998474121094px 0px #00000026;
  width: 68px;
}

.expandedSidebar{
  width: 220px;
}

.sidebar__menu{
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu__link{
  padding: 11px 14px;

}

.active{
  background-color: var(--primary-yellow);
  color: var(--white-color);
  border-radius: 8px;
}