.sidebar {
  border-radius: 12px;
  padding: 24px 12px;
  background: #fff;
  height: 100%;
  box-shadow: 3px 4px 37.599998474121094px 0px #00000026;
  width: 68px;
}

.expandedSidebar{
  width: 220px;
}