@import "@src/app/styles/mediaQueries";

:root {
  --header-height: 59px;
}

.mainLayout {
  position: relative;
  min-height: 100dvh;
  display: grid;

  &.withHeader {
    grid-template-areas:
      'sidebar header'
      'sidebar content';

    @media (max-width: $tablet) {
      grid-template-areas:
        'header header'
        'content content';
    }
  }

  grid-template-columns: min-content 1fr;
  grid-template-areas: 'sidebar content'
  'sidebar content';

}

.map {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.header {
  grid-area: header;
  padding: 16px 16px 0 16px;
  // TO FIX
  height: var(--header-height);
  z-index: 500;
  position: relative;

  @media (max-width: $tablet) {
    padding: 16px 9px 0 9px;
  }
}

.sidebar {
  position: sticky;
  grid-area: sidebar;
  padding: 16px 0 16px 16px;
  top: 0;
  height: 100dvh;
}

.burger {
  position: absolute;
  z-index: 999;
  padding: 16px 0 16px 16px;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.7s ease;
  width: 100%;

  @media (max-width: $tablet) {
    padding-left: 9px;
  }
}

.burgerOpen {
  transform: translateX(0);
  transition: 0.3s;
}

.searchWrapper {
  position: fixed;
  width: 100%;
  width: calc(100% - 9px * 2);
  top: 75px;
  left: 9px;
  display: none;
}

.searchOpen {
  display: block;
}

.content {
  position: relative;
  grid-area: content;
  justify-self: center;
  padding: 16px;
  width: 100%;
  height: 100vh;

  &.withHeader {
    height: calc(100dvh - var(--header-height));
  }

  &.mainPage {
    pointer-events: none;

    @media (max-width: $mobile) {
      height: unset;
      margin-top: auto;
    }
  }

  @media (max-width: $tablet) {
    padding: 16px 9px;
  }
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--overlay-z-index);
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}