.mainLayout {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
            'sidebar header'
            'sidebar content';
  grid-template-columns: min-content 1fr;
}

.map{
  position: absolute;
  z-index: 0;
}

.header {
  grid-area: header;
  padding: 16px 16px 0 16px ;
  z-index: 5;
}

.sidebar {
  position: sticky;
  grid-area: sidebar;
  padding: 16px 0 16px 16px ;
  z-index: 5;
  top: 0;
  height: 100vh;
}

.content {
  position: relative;
  grid-area: content;
  justify-self: center;
  padding: 16px;
  width: 100%;
  height: calc(100vh - 59px);
  z-index: 5;
}

