.newApplication {
  display: grid;
  place-content: center;
  height: 100%;
  position: relative;
  z-index: calc(var(--overlay-z-index) + 1);
}

.container {
  width: 825px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.form {
  width: 100%;
  margin-top: 32px;
  display: grid;
  gap: 32px;
}

.inputsRow {
  display: flex;
  gap: 16px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.button {
  min-width: 104px;
}

.additionalButton {
  margin-right: auto;
  color: var(--primary-yellow);
  display: flex;
  align-items: center;
  gap: 8px;
}

.nestedCheckbox {
  margin-left: auto;
}