@import "@src/app/styles/mediaQueries";

.input {
  width: 100%;
  position: relative;

  &.error {
    .textField {
      border-color: var(--error-color);
      color: var(--error-color);

      //&:focus {
      //  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #ce8483;
      //}
    }

    /* .label {
      color: var(--error-color);
    } */
  }

  &.focused .label {
    font-size: 12px;
    top: 6px;
    transform: translateY(0);
    color: var(--label-fixed-color);
  }
}

.inputContainer {
  width: 100%;
  position: relative;
  /* height: 100%; */
}

.label {
  position: absolute;
  display: block;
  z-index: 1;
  font-size: 16px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: text;
  transition: 0.1s;

  &.fixed {
    font-size: 12px;
    top: 6px;
    transform: translateY(0);
    color: var(--label-fixed-color);
  }

  &.disabled {
    color: var(--disabled-color);
    pointer-events: none;
  }
}

.textField {
  width: 100%;
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid var(--text-color);
  font-size: 16px;
  line-height: 135%;

  &:disabled {
    background-color: var(--white-color);
    color: var(--disabled-color);
  }

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }

  &:focus {
    outline: none;
  }

  &.withLabel {
    padding-block: 24px 6px;
  }

  &.disabled {
    pointer-events: none;
    border-color: var(--disabled-color);
  }

  &.withSearchIcon {
    &.icon_left {
      padding-left: 42px;
    }

    &.icon_right {
      padding-right: 42px;
    }
  }

  &::-webkit-input-placeholder {
    color: var(--text-color);

    &.disabled {
      color: var(--disabled-color);
    }
  }

  &::-moz-placeholder {
    color: var(--text-color);
    opacity: 1;

    &.disabled {
      color: var(--disabled-color);
    }
  }

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--disabled-color);

  &.icon_left {
    left: 16px;
  }

  &.icon_right {
    right: 16px;
  }
}

.filters_theme {
  padding: 13px 20px;
  font-size: 13px;
}