@import "@src/app/styles/mediaQueries";
@import "@src/app/styles/mixins";

.editProfile {
  display: grid;
  place-content: center;
  height: 100%;
  position: relative;
  z-index: calc(var(--overlay-z-index) + 1);
}

.container {
  @include adaptiveValue("width", 825, 700, 1440, 991);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: hidden;
  padding: 24px 0;

  @media (max-width: $mobile) {
    @include adaptiveValue("width", 700, 359, 768, 375);
  }
}

.heading {
  display: flex;
  width: 100%;
  padding: 0 16px;
  gap: 24px;
}

.headingInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: center;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.form {
  width: 100%;
  margin-top: 32px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow-y: auto;

  @media (max-width: $mobile) {
    margin-top: 24px;
    gap: 16px;
    padding: 0 12px;
  }
}

.inputsRow {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 8px));
  gap: 16px;

  @media (max-width: $mobile) {
    grid-template-columns: 100%;
  }
}

.inputsThreeRow {
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 8px));
  gap: 16px;

  @media (max-width: $mobile) {
    grid-template-columns: 100%;
  }
}

.inputsRowWithGap {
  gap: 16px;
  justify-content: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(177px, 1fr));
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-bottom: 5px;

  @media (max-width: $mobile) {
    flex-wrap: wrap;
  }
}

.button {
  min-width: 104px;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.additionalButton {
  margin-right: auto;
  color: var(--error-color);
  display: flex;
  align-items: center;
  gap: 8px;

  @media (max-width: $mobile) {
    margin-top: 8px;
    margin-bottom: 24px;
  }
}

.nestedCheckbox {
  margin-left: auto;
}

.additionalText {
  margin-top: 8px;
}

.stepper {
  margin-top: 24px;

  @media (max-width: $mobile) {
    margin-top: 14px;
  }
}

.successPopup {
  max-width: 271px;
  border-radius: 12px;
  display: grid;
  gap: 16px;
  justify-items: center;
  padding: 24px 16px;
  background-color: var(--white-color);
}

.successContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  text-align: center;
}

.checkboxError {
  width: 100%;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  background-color: var(--white-color);
  z-index: 5;
}

.map {
  pointer-events: none !important;
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
  height: 25vh;
  position: relative;
}