@import "@src/app/styles/mediaQueries";

.registrationForm {
  max-width: 400px;
  width: 100%;
  display: grid;
  gap: 16px;
  justify-items: center;
}

.text {
  text-align: center;
  
  @media (max-width: $mobile) {
    font-size: 13px;
  }
}

.submitBtn{
  margin-top: 16px;
  padding: 14px 28px;
}