.yandexMap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.balloon {
  width: 400px;
  position: relative;
}

.ballonTriangle {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

.balloonContent {}

.balloon {
  display: block;
  /*  width: 400px; */
}