.select {
  position: relative;
  background-color: var(--white-color);
  line-height: 135%;
  width: 100%;

  --select-height: 53px;
  --select-filters-height: 44px;
}

.toggler {
  min-height: 100%;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  padding: 15px 54px 15px 20px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  min-height: var(--select-height);

  &.error {
    border-color: var(--error-color);
  }

  &.withInput {
    cursor: text;

    .label {
      cursor: text;
    }
  }

  &.withLabel {
    padding: 24px 54px 6px 20px;
  }

  &.hideValue .togglerText {
    visibility: hidden;
  }

  &.noArrow {
    padding-right: 20px;
  }

  &.filters_theme{
    padding: 13px 54px 13px 20px;
    min-height: var(--select-filters-height);
  }
}

.togglerText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 100%;
  color: inherit;
  position: relative;
  z-index: 0;
  left: -1px;
  top: -1px;
  .filters_theme &{
    font-size: 13px;
  }
}

.input {
  padding-right: 54px;
  width: 100%;
  background-color: var(--white-color);
  border: none;
  background-color: transparent;

  &.focus~.togglerText {
    display: none;
  }

  &.noArrow {
    padding-right: 20px;
  }
}

.inputWrapper {
  min-height: var(--select-height);
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.label {
  position: absolute;
  display: block;
  z-index: 1;
  font-size: 16px;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.1s;

  &.fixed {
    font-size: 12px;
    top: 5px;
    transform: translateY(0);
  }

  &.focused {
    font-size: 12px;
    top: 5px;
    transform: translateY(0);

    &.withInput {
      display: none;
      transition: 0s;
    }
  }
}

.arrowDown {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  &.rotated {
    transform: translateY(-50%) rotate(180deg);
  }
}

.dropdown {
  padding: 10px;
  overflow: auto;
  z-index: 9999;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  background-color: var(--white-color);
  max-height: 270px;
}

.valueItem {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid var(--dark-grey-color);
  padding: 3px;
  cursor: default;
}

.item {
  min-width: 100%;
  padding: 10px 15px;
  transition: 0.1s;
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    background-color: var(--special-yellow);
  }

  &.selected {
    pointer-events: none;
    cursor: default;
    background-color: #E9E9E9;
  }
}

.text {
  text-align: center;
}

