.select {
  position: relative;
  background-color: var(--white-color);
  line-height: 135%;
  width: 100%;
}

.toggler {
  min-height: 100%;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  padding: 15px 54px 15px 20px;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;

  &.noArrow {
    padding-right: 20px;
  }
}

.togglerText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 100%;
  color: inherit;
}

.arrowDown {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  &.rotated {
    transform: translateY(-50%) rotate(180deg);
  }
}

.dropdown {
  border-radius: 10px;
  min-height: 58px;
  padding-block: 8px;
  cursor: default;
  padding: 10px;
}

.valueItem {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid var(--dark-grey-color);
  padding: 3px;
  cursor: default;
}

.item {
  min-width: 100%;
  padding: 10px 15px;
  transition: 0.1s;
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    background-color: var(--special-yellow);
  }

  &.selected {
    pointer-events: none;
    cursor: default;
    background-color: #E9E9E9;
  }
}

.text {
  margin-left: 20px;
  margin-top: 10px;
}