.searchOnMap {}

.submit {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.inputWrapper {
  position: static;
}

.input {
  padding: 12px 16px;
  box-shadow: var(--shadow-bottom);
  border: none;
  border-radius: 12px;
  font-size: 14px;
  padding-right: 80px;

  &::-webkit-input-placeholder {
    color: var(--disabled-color);
  }

  &::-moz-placeholder {
    color: var(--disabled-color);
    opacity: 1;
  }
}