.filters {
  position: absolute;
  /*TO FIX*/
  top: 75px;
  left: 16px;
  width: 356px;
  max-height: calc(100vh - 90px);
  overflow: hidden;
  z-index: 5;
  padding-bottom: 0;
  flex-direction: column;
  padding-bottom: 44px;
  display: none;

  &.open {
    display: flex;
  }
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  z-index: 5;
}

.form {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
}

.body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.footer {
  display: flex;
  background: var(--white-color);
  border-radius: 12px;
  padding: 3.5px 4px;
  box-shadow: var(--shadow-bottom);
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.inputRow {
  display: flex;
  gap: 12px;
}

.checkboxContainer {
  &>*:not(:first-child) {
    padding-left: 30px;
  }
}

.controlCheckbox {
  margin-left: -30px;
}

.accordion {
  border-top: 1px solid var(--special-grey-color2);
  &:last-child {
    border-bottom: 1px solid var(--special-grey-color2);
  }
}

.accordionContent{
  max-height: 250px;
  overflow-y: auto;
  display: grid;
  gap: 8px;
}

.saveFilters {
  padding: 12px 0;
}

.additionalContentWrapper {
  padding: 0 !important;
}

.additionalContent {
  gap: 0;
}

.searchInput{
  margin-bottom: 8px;
}