.registrationPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 100%;
  position: relative;
  padding: 0 16px;
}

.logo {
  position: absolute;
  top: 10%;
}