.application {
  padding: 16px;
  display: grid;
  gap: 16px;
}

.application__content {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  gap: 75px;
}

.application__column {
  display: grid;
  gap: 16px;
}

.application__trail {
  position: relative;
  align-items: center;

}

.application__trailItem {
  position: relative;
  padding-left: 13px;
  font-size: 14px;
  font-weight: 500;

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    z-index: 1;
  }
  &:first-child:before{
    background-color: var(--primary-yellow);
    border: 1px solid black;
  }
  &:last-child:before{
    top: calc(50% + 12px / 2);
    background-color: var(--white-color);
    border: 1px solid black;
  }

  &:after{
    content: '';
    position: absolute;
    border-left: 1px dashed var(--disabled-color);
    height: 50%;
    left: 3px;
  }
  &:first-child:after{
    top: 50%;
  }
  &:last-child:after{
    bottom: 50%;
  }

  &:last-child{
    padding-top: 12px;
  }
}

.application__cargoInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.application__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.application__info{
  display: flex;
  align-items: center;
  gap: 16px;
}

.viewCount{
  color: var(--disabled-color);
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}

.buttons{
  display: flex;
  gap: 8px;
}

.button{
  max-width: 104px;
  width: 100%;
  font-weight: 600;
}