.dropdown {
  position: absolute;
  overflow-y: auto;
  background-color: var(--white-color);
  z-index: 10;
  color: var(--main-color);
  /* padding: 10px; */
}

.top {
  top: calc(100% + 8px);
}

.bottom {
  bottom: calc(100% + 8px);
}