.tabs {
  display: flex;
  gap: 8px;
}

.tab {
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  white-space: nowrap;
}

.selected {
  background: var(--special-yellow);
}