.codeValidationForm {
  position: relative;
  width: 400px;
  display: grid;
  gap: 16px;
  justify-items: center;
}

.text {
  text-align: center;
}

.resend{
  color: var(--primary-yellow);
  font-weight: 500;
  font-size: 16px;
}